In [3]:
#print 0 to 20 by using range
for num in range (0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
#print 10 to 20 by using range
for num in range (10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [6]:
#print 1 to 20 by using range step of  3
for num in range (1,20,3):
    print(num)

1
4
7
10
13
16
19

In [7]:
#print 1 to 20 by using range -reverse
for num in range (20,0,-1):
    print(num)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [10]:
#Print number of items in the list by using 'len'
lists=[10,20,14,55,43,87,76]
print("Number of Items in  the list :",len(lists))

Number of Items in  the list : 7

In [12]:
fruits= ("Apple","Pear","Orange")
print("Number of fruits :",len(fruits))

Number of fruits : 3

In [38]:
name_string= 'Artificial Intelligence'
for char in name_string:
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [19]:
your_name=input("-Your Name-")
your_age=input("-Your Age-")
your_profession=input("-Your Profession-")

-Your Name- Paddy
-Your Age- 67
-Your Profession- IT Professional

In [21]:
tup=(1,'Welcome',2,'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [24]:
tup1=(0,1,2,3)
tup2=('python','HOPE')
tup3= tup1 + tup2
print(tup3)
print((tup1),(tup2))

(0, 1, 2, 3, 'python', 'HOPE')
(0, 1, 2, 3) ('python', 'HOPE')

In [43]:
#Print Odd Numbers in the list
lists=[20,10,16,19,25,1,276,188]
for odd in lists:
    if ((odd %2)==1):
          print(odd, ': is odd')

19 : is odd
25 : is odd
1 : is odd

In [42]:
#Print Even Numbers in the list
lists=[20,10,16,19,25,1,276,188]
for odd in lists:
    if ((odd %2)==0):
          print(odd, ': is even')

20 : is even
10 : is even
16 : is even
276 : is even
188 : is even